@model Domain.Entity.Documento

@{
    ViewBag.Title = "CreateDocumento";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <h2>CreateDocumento</h2>


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>Documento</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.iddocumento, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.iddocumento, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.iddocumento, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.nombredocumento, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.nombredocumento, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.nombredocumento, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    @Html.ActionLink("Limpiar", "CreateDocumento", null, new { @class = "btn btn-primary" })
                    <input type="submit" value="Create" class="btn btn-default" />
                    @Html.ActionLink("Retornar", "ListadoDocumento", null, new { @class = "btn btn-success" })
                </div>
            </div>
        </div>
    }

    <div>
        @ViewBag.mensaje
    </div>
</div>