@model Domain.Entity.Empleado

@{
    ViewBag.Title = "DeleteEmpleado";
}

<h2>DeleteEmpleado</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Empleado</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.idempleado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.idempleado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.iddocumento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.iddocumento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.numerodocumento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.numerodocumento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nombreempleado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombreempleado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.apellidopaternoempleado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.apellidopaternoempleado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.apellidomaternoempleado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.apellidomaternoempleado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.correo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.correo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.telefono)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.telefono)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cargo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cargo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.foto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.foto)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

<div class="form-actions no-color">
    <input type="submit" value="Delete" class="btn btn-default" /> |
    @Html.ActionLink("Retornar", "ListadoEmpleado")
</div>
    }
</div>
