@model Domain.Entity.Factura

@{
    ViewBag.Title = "DetailsFactura";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="container">
        <div class="page-inner">
            <div class="page-header">
                <h2 class="fw-bold mb-3">Detalle de Factura</h2>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="form-horizontal">
                                <div class="card-title">Factura</div>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-6 col-lg-12">
                                        <hr />
                                        <dl class="dl-horizontal">
                                            <dt>
                                                @Html.DisplayNameFor(model => model.idfactura)
                                            </dt>

                                            <dd>
                                                @Html.DisplayFor(model => model.idfactura)
                                            </dd>

                                            <dt>
                                                @Html.DisplayNameFor(model => model.fecha)
                                            </dt>

                                            <dd>
                                                @Html.DisplayFor(model => model.fecha)
                                            </dd>

                                            <dt>
                                                @Html.DisplayNameFor(model => model.idempresa)
                                            </dt>

                                            <dd>
                                                @Html.DisplayFor(model => model.idempresa)
                                            </dd>

                                            <dt>
                                                @Html.DisplayNameFor(model => model.idcliente)
                                            </dt>

                                            <dd>
                                                @Html.DisplayFor(model => model.idcliente)
                                            </dd>

                                            <dt>
                                                @Html.DisplayNameFor(model => model.idempleado)
                                            </dt>

                                            <dd>
                                                @Html.DisplayFor(model => model.idempleado)
                                            </dd>

                                        </dl>
                                    </div>
                                    <p>
                                        @Html.ActionLink("Edit", "Edit", new { id = Model.idfactura }) |
                                        @Html.ActionLink("Retornar", "ListadoFactura")
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>