@model Domain.Entity.Cliente

@{
    ViewBag.Title = "DetailsCliente";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="container">
        <div class="page-inner">
            <div class="page-header">
                <h2 class="fw-bold mb-3">Detalle de Cliente</h2>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="form-horizontal">
                                <div class="card-title">Cliente</div>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-6 col-lg-12">
                                        <hr />
                                        <dl class="dl-horizontal">
                                            <dt>
                                                @Html.DisplayNameFor(model => model.idcliente)
                                            </dt>

                                            <dd>
                                                @Html.DisplayFor(model => model.idcliente)
                                            </dd>

                                            <dt>
                                                @Html.DisplayNameFor(model => model.iddocumento)
                                            </dt>

                                            <dd>
                                                @Html.DisplayFor(model => model.iddocumento)
                                            </dd>

                                            <dt>
                                                @Html.DisplayNameFor(model => model.numerodocumento)
                                            </dt>

                                            <dd>
                                                @Html.DisplayFor(model => model.numerodocumento)
                                            </dd>

                                            <dt>
                                                @Html.DisplayNameFor(model => model.nombrecliente)
                                            </dt>

                                            <dd>
                                                @Html.DisplayFor(model => model.nombrecliente)
                                            </dd>

                                            <dt>
                                                @Html.DisplayNameFor(model => model.apellidopaternocliente)
                                            </dt>

                                            <dd>
                                                @Html.DisplayFor(model => model.apellidopaternocliente)
                                            </dd>

                                            <dt>
                                                @Html.DisplayNameFor(model => model.apellidomaternocliente)
                                            </dt>

                                            <dd>
                                                @Html.DisplayFor(model => model.apellidomaternocliente)
                                            </dd>

                                            <dt>
                                                @Html.DisplayNameFor(model => model.correo)
                                            </dt>

                                            <dd>
                                                @Html.DisplayFor(model => model.correo)
                                            </dd>

                                            <dt>
                                                @Html.DisplayNameFor(model => model.telefono)
                                            </dt>

                                            <dd>
                                                @Html.DisplayFor(model => model.telefono)
                                            </dd>

                                            <dt>
                                                @Html.DisplayNameFor(model => model.foto)
                                            </dt>

                                            <dd>
                                                @Html.DisplayFor(model => model.foto)
                                            </dd>

                                        </dl>
                                    </div>
                                    <p>
                                        @Html.ActionLink("Edit", "Edit", new { id = Model.idcliente }) |
                                        @Html.ActionLink("Retornar", "ListadoCliente")
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>