@model Domain.Entity.Impresion

@{
    ViewBag.Title = "DetailsImpresion";
}

<h2>DetailsImpresion</h2>

<div>
    <h4>Impresion</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.idimpresion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.idimpresion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descripcion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idimpresion }) |
    @Html.ActionLink("Retornar", "ListadoImpresion")
</p>
