@model IEnumerable<Domain.Entity.Lista>

@{
    ViewBag.Title = "ListadoLista";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <div class="d-flex align-items-center">
                    <h2>Listado Lista</h2>
                    <button class="btn btn-primary btn-round ms-auto"
                            data-bs-toggle="modal"
                            data-bs-target="#addRowModal">
                        <i class="fa fa-plus"></i>
                        @Html.ActionLink("Create New", "CreateLista")
                    </button>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table id="add-row"
                           class="display table table-striped table-hover">
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.idlista)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.fechalista)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.idempresa)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.idempleado)
                            </th>
                            <th></th>
                        </tr>

                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.idlista)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.fechalista)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.idempresa)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.idempleado)
                                </td>
                                <td>
                                    @Html.ActionLink("Edit", "EditLista", new { id = item.idlista }) |
                                    @Html.ActionLink("Details", "DetailsLista", new { id = item.idlista }) |
                                    @Html.ActionLink("Delete", "DeleteLista", new { id = item.idlista })
                                </td>
                            </tr>
                        }

                    </table>
                </div>
            </div>
        </div>
    </div>
</div>