@model IEnumerable<Domain.Entity.Autor>

@{
    ViewBag.Title = "ListadoAutor";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <div class="d-flex align-items-center">
                    <h2>ListadoAutor</h2>
                    <button class="btn btn-primary btn-round ms-auto"
                            data-bs-toggle="modal"
                            data-bs-target="#addRowModal">
                        <i class="fa fa-plus"></i>
                        @Html.ActionLink("Create New", "CreateAutor")
                    </button>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table id="add-row"
                           class="display table table-striped table-hover">
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.idautor)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.iddocumento)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.numerodocumento)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.nombreautor)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.apellidopaternoautor)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.apellidomaternoautor)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.correo)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.telefono)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.foto)
                            </th>
                            <th></th>
                        </tr>

                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.idautor)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.iddocumento)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.numerodocumento)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.nombreautor)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.apellidopaternoautor)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.apellidomaternoautor)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.correo)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.telefono)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.foto)
                                </td>
                                <td>
                                    @Html.ActionLink("Edit", "EditAutor", new { id = item.idautor }) |
                                    @Html.ActionLink("Details", "DetailsAutor", new { id = item.idautor }) |
                                    @Html.ActionLink("Delete", "DeleteAutor", new { id = item.idautor })
                                </td>
                            </tr>
                        }

                    </table>
                </div>
            </div>
        </div>
    </div>
</div>