@model IEnumerable<Domain.Entity.Factura>

@{
    ViewBag.Title = "ListadoFactura";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <div class="d-flex align-items-center">
                    <h2>ListadoFactura</h2>
                    <button class="btn btn-primary btn-round ms-auto"
                            data-bs-toggle="modal"
                            data-bs-target="#addRowModal">
                        <i class="fa fa-plus"></i>
                        @Html.ActionLink("Create New", "CreateFactura")
                    </button>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table id="add-row"
                           class="display table table-striped table-hover">
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.idfactura)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.fecha)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.idempresa)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.idcliente)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.idempleado)
                            </th>
                            <th></th>
                        </tr>

                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.idfactura)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.fecha)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.idempresa)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.idcliente)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.idempleado)
                                </td>
                                <td>
                                    @Html.ActionLink("Edit", "EditFactura", new { id = item.idfactura }) |
                                    @Html.ActionLink("Details", "DetailsFactura", new { id = item.idfactura }) |
                                    @Html.ActionLink("Delete", "DeleteFactura", new { id = item.idfactura })
                                </td>
                            </tr>
                        }

                    </table>
                </div>
            </div>
        </div>
    </div>
</div>