@model IEnumerable<Domain.Entity.Transporte>

@{
    ViewBag.Title = "ListadoTransporte";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <div class="d-flex align-items-center">
                    <h2>ListadoTransporte</h2>
                    <button class="btn btn-primary btn-round ms-auto"
                            data-bs-toggle="modal"
                            data-bs-target="#addRowModal">
                        <i class="fa fa-plus"></i>
                        @Html.ActionLink("Create New", "CreateTransporte")
                    </button>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table id="add-row"
                           class="display table table-striped table-hover">
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.idtransporte)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.direccionpartida)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.direccionllegada)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.idempleado)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.idalmacen)
                            </th>
                            <th></th>
                        </tr>

                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.idtransporte)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.direccionpartida)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.direccionllegada)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.idempleado)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.idalmacen)
                                </td>
                                <td>
                                    @Html.ActionLink("Edit", "EditTransporte", new { id = item.idtransporte }) |
                                    @Html.ActionLink("Details", "DetailsTransporte", new { id = item.idtransporte }) |
                                    @Html.ActionLink("Delete", "DeleteTransporte", new { id = item.idtransporte })
                                </td>
                            </tr>
                        }

                    </table>
                </div>
            </div>
        </div>
    </div>
</div>