@model IEnumerable<Domain.Entity.Detalle_Factura>

@{
    ViewBag.Title = "ListadoDetalle_Factura";
}

<h2>ListadoDetalle_Factura</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.iddetallefactura)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.idfactura)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.idprograma)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.idlibro)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cantidad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.idtransporte)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.importe)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.precioventa)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.iddetallefactura)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.idfactura)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.idprograma)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.idlibro)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cantidad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.idtransporte)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.importe)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.precioventa)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
