@model IEnumerable<Domain.Entity.Factura>

@{
    ViewBag.Title = "ListadoFactura";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <h2>ListadoFactura</h2>

    <p>
        @Html.ActionLink("Create New", "CreateFactura")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.idfactura)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.idempresa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.idcliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.idempleado)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.idfactura)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.fecha)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.idempresa)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.idcliente)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.idempleado)
                </td>
                <td>
                    @Html.ActionLink("Edit", "EditFactura", new { id = item.idfactura }) |
                    @Html.ActionLink("Details", "DetailsFactura", new { id = item.idfactura }) |
                    @Html.ActionLink("Delete", "DeleteFactura", new { id = item.idfactura })
                </td>
            </tr>
        }

    </table>
</div>