@model IEnumerable<Domain.Entity.Recibo>

@{
    ViewBag.Title = "ListadoRecibo";
}

<h2>ListadoRecibo</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.idrecibo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nombrerecibo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.idrecibo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nombrerecibo)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
